{% extends 'base.html.twig' %}

{% block title %}CarsFleet{% endblock %}

{% block body %}
    <div class="container mx-auto relative">
        <div class=" overflow-x-hidden md:w-[700px] md:h-[700px] w-[400px] h-[400px] rounded-full bg-neutral-800 absolute block lg:-right-20 md:-right-10 lg:-top-56 md:top-72 top-80 -right-7 -z-50"></div>
        <div class=" rounded-full bg-secondary-100 absolute block lg:-right-40 md:-right-20 lg:-top-56 md:top-72 top-80 -right-14 -z-50"></div>
        <div class="grid lg:grid-cols-12 grid-cols-1 lg:gap-8 md:gap-y-16 gap-y-18 pt-8 pb-20 items-center relative border-b border-neutral-200">
            <div class="flex flex-col items-start gap-10 lg:col-span-6">
                <div class="flex flex-col gap-4 lg:pr-0 md:pr-24 relative">
                    <h3 class="md:text-display-2xl text-display-md font-semibold">
                        Maîtrisez votre parc Automobile
                    </h3>
                    <p class="md:text-body-lg text-body-md font-normal text-neutral-700">
                        Découvrez une nouvelle ère de mobilité : Empruntez, Partagez, et Explorez avec CarsFleet,
                        la plateforme de gestion de flotte tout-en-un.
                    </p>
                </div>
                <a class="button flex items-center justify-center rounded-xl bg-neutral-800 text-white font-semibold px-4 py-3 text-body-md"
                   href="{{ path('app_register_index') }}">
                    Démarrez votre voyage
                </a>
            </div>
            <div class="flex flex-col gap-10 lg:col-span-6 relative">
                <img src="{{ asset('build/images/mockup.svg') }}" alt="Mockup" />
            </div>
        </div>
    </div>

    <div class="container mx-auto">
        <div class="flex flex-col gap-12 md:py-24 py-12">
            <div class="grid xl:grid-cols-12 grid-cols-1 gap-8 text-center">
                <div class="xl:col-span-2 xl:block hidden"></div>
                <div class="xl:col-span-8 flex flex-col gap-12 justify-center">
                    <div class="flex flex-col gap-2 text-center">
                        <h3 class="lg:text-display-xl md:text-display-lg text-display-md font-semibold">
                            Découvrez la en action
                        </h3>
                        <p class="md:text-body-lg text-body-md font-normal text-neutral-700">
                            Voyez comment CarsFleet simplifie la gestion de votre flotte en un clin d'œil
                        </p>
                    </div>
                    <div class="flex flex-col items-center relative">
                        <img src="{{ asset('build/images/preview-web-site.png') }}" alt="Thumbnail" class="relative rounded-lg"/>
                        <div class="flex flex-row items-center md:py-4 py-3 md:pl-4 pl-3 md:pr-5 pr-4 gap-3 bg-white shadow-md rounded-full absolute md:-bottom-7 -bottom-6">
                            <span class="md:text-body-md text-body-sm font-medium">
                                Découvrir
                            </span>
                        </div>
                    </div>
                </div>
                <div class="xl:col-span-2 xl:block hidden"></div>
            </div>
            <div class="grid xl:grid-cols-3 md:grid-cols-2 grid-cols-1 md:gap-8 gap-0 md:pt-10 md:pb-6 items-center">
                <div class="flex md:flex-col flex-row self-start md:items-center md:gap-6 gap-4 lg:p-6 md:p-0 py-6">
                    <img src="{{ asset('build/images/rental-car.png') }}" alt="Feature Icon"
                          class="md:w-80 md:h-80 w-22 h-22"/>
                    <div class="flex flex-col gap-2 xl:items-center md:text-center">
                        <p class="md:text-display-xs text-body-xl font-semibold">Tableau de bord dynamique</p>
                        <p class="md:text-body-md text-body-sm font-normal text-neutral-700">
                            Track your ticket sales, attendees count and more with much ease.
                        </p>
                    </div>
                </div>
                <div class="flex md:flex-col flex-row self-start md:items-center md:gap-6 gap-4 lg:p-6 md:p-0 py-6">
                    <img src="{{ asset('build/images/dashboard.png') }}" alt="Feature Icon"
                         class="md:w-80 md:h-80 w-22 h-22"/>
                    <div class="flex flex-col gap-2 xl:items-center md:text-center">
                        <p class="md:text-display-xs text-body-xl font-semibold">Gestion de toute votre flotte</p>
                        <p class="md:text-body-md text-body-sm font-normal text-neutral-700">
                            Track your ticket sales, attendees count and more with much ease.
                        </p>
                    </div>
                </div>
                <div class="flex md:flex-col flex-row self-start md:items-center md:gap-6 gap-4 lg:p-6 md:p-0 py-6">
                    <img src="{{ asset('build/images/building-company.png') }}" alt="Feature Icon"
                         class="md:w-80 md:h-80 w-22 h-22"/>
                    <div class="flex flex-col gap-2 xl:items-center md:text-center">
                        <p class="md:text-display-xs text-body-xl font-semibold">Un espace dédié</p>
                        <p class="md:text-body-md text-body-sm font-normal text-neutral-700">
                            Track your ticket sales, attendees count and more with much ease.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}