{# templates/admin/dashboard.html.twig #}
{% extends '@EasyAdmin/layout.html.twig' %}

{% block body_javascript %}
    {{ parent() }}
    {{ encore_entry_script_tags('dashboard-ea') }}
    <script>
        window.borrowChart = {{ borrow_chart|json_encode|raw }};
        window.accidentChart = {{ accident_chart|json_encode|raw }};
    </script>
{% endblock body_javascript %}

{% block head_stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboard-ea') }}
{% endblock head_stylesheets %}

     {% block content %}
         <div>
             <h1 class="text-display-md font-semibold my-3">
                 Dashboard
             </h1>
             <div class="grid grid-cols-2 gap-4 my-3">
                 <a href="#" class="block p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                     <p class="font-normal text-display-xs text-gray-700 dark:text-gray-400">Nombre de voitures</p>
                     <h5 class="text-display-md font-semibold my-3">{{ cars }}</h5>
                 </a>
                 <a href="#" class="block p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                     <p class="font-normal text-display-xs text-gray-700 dark:text-gray-400">Nombre de sites</p>
                     <h5 class="text-display-md font-semibold my-3">{{ sites }}</h5>
                 </a>
             </div>

             <div class="grid grid-cols-2 gap-4">
                 <div class="rounded-xl">
                     <div class="bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">
                         <div class="flex justify-between">
                             <div>
                                 <h5 class="text-display-md font-semibold my-3">{{ borrows }}</h5>
                                 <p class="text-base font-normal text-gray-500 dark:text-gray-400">Emprunts</p>
                             </div>
                         </div>
                         <div id="borrow-chart"></div>
                     </div>
                 </div>
                 <div class="rounded-xl">
                     <div class="bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">
                         <div class="flex justify-between">
                             <div>
                                 <h5 class="text-display-md font-semibold my-3">{{ accidents }}</h5>
                                 <p class="text-base font-normal text-gray-500 dark:text-gray-400">Accidents</p>
                             </div>
{#                             <div class="flex items-center px-2.5 py-0.5 text-base font-semibold text-green-500 dark:text-green-500 text-center">#}
{#                                 12%#}
{#                             </div>#}
                         </div>
                         <div id="accident-chart"></div>
                     </div>
                 </div>
             </div>
         </div>
     {% endblock %}
