{% extends 'base_app.html.twig' %}

{% block title %}CarsFleet - Historique{% endblock %}

{% block body %}
    <div class="page-wrapper">
        <div class="page-header d-print-none">
            <div class="container-xl">
                <div class="row g-2 align-items-center">
                    <div class="col">
                        <h2 class="page-title">
                            Historique de mes emprunts
                        </h2>
                    </div>
                </div>
            </div>
        </div>

    <div class="page-body">
        <div class="container-xl">
            <div class="row row-cards">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table table-vcenter card-table table-hover">
                                <thead>
                                <tr class="align-middle">
                                    <th scope="col">Voitures</th>
                                    <th scope="col">Date de début</th>
                                    <th scope="col">Date de fin</th>
                                    <th scope="col">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for borrow_history in borrows_history %}
                                    <tr class="align-middle">
                                        <td colspan="row">{{ borrow_history.car.brand }} - {{ borrow_history.car.model }}</td>
                                        <td colspan="row">
                                            <span class="status status-success">{{ borrow_history.startDate|date('d/m/y') }}
                                            </span>
                                        </td>
                                        <td colspan="row">
                                            <span class="status status-dark">{{ borrow_history.endDate|date('d/m/Y') }}
                                            </span>
                                        </td>
                                        <td colspan="row">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#modal-small-{{ borrow_history.borrowMeet.id }}">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     class="icon icon-tabler icon-tabler-map-pin text-azure"
                                                     width="24"
                                                     height="24"
                                                     viewBox="0 0 24 24"
                                                     stroke-width="2"
                                                     stroke="currentColor"
                                                     fill="none"
                                                     stroke-linecap="round"
                                                     stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                    <path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                                                    <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"></path>
                                                </svg>
                                                Détail du rendez-vous
                                            </a>

                                            <div class="modal modal-blur fade" id="modal-small-{{ borrow_history.borrowMeet.id }}" tabindex="-1">
                                                <div class="modal-dialog modal-sm" role="document">
                                                    <div class="modal-content">
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        <div class="modal-status bg-azure"></div>
                                                        <div class="modal-body text-center py-4">
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                 class="icon mb-2 text-azure icon-lg icon-tabler icon-tabler-clock-pin"
                                                                 width="24" height="24"
                                                                 viewBox="0 0 24 24"
                                                                 stroke-width="1.5"
                                                                 stroke="currentColor"
                                                                 fill="none" stroke-linecap="round"
                                                                 stroke-linejoin="round">
                                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                                <path d="M20.971 11.278a9 9 0 1 0 -8.313 9.698"></path>
                                                                <path d="M12 7v5l1.5 1.5"></path>
                                                                <path d="M21.121 20.121a3 3 0 1 0 -4.242 0c.418 .419 1.125 1.045 2.121 1.879c1.051 -.89 1.759 -1.516 2.121 -1.879z"></path>
                                                                <path d="M19 18v.01"></path>
                                                            </svg>
                                                            <h3>Détail du rendez-vous</h3>
                                                            <div class="text-secondary">
                                                                <p class="fs-3">Votre rendez-vous est le : {{ borrow_history.borrowMeet.date|date('d/m/y H:i') }}</p>
                                                                 <p class="fs-3">Point de départ : {{ borrow_history.borrowMeet.site.name }}</p>
                                                                 <p class="fs-3">Destination: {{ borrow_history.borrowMeet.tripDestination.name }}</p>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <div class="w-100">
                                                                <div class="row">
                                                                    <div class="col">
                                                                        <a href="#" class="btn w-100" data-bs-dismiss="modal">
                                                                            Fermer
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            {% if borrow_history.driver == app.user %}
                                                <a href="{{ path('app_accident_index', {'id': borrow_history.car.id}) }}">
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                         class="icon icon-tabler icon-tabler-car-crash text-warning"
                                                         width="24"
                                                         height="24"
                                                         viewBox="0 0 24 24"
                                                         stroke-width="2"
                                                         stroke="currentColor"
                                                         fill="none"
                                                         stroke-linecap="round"
                                                         stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                        <path d="M10 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                                                        <path d="M7 6l4 5h1a2 2 0 0 1 2 2v4h-2m-4 0h-5m0 -6h8m-6 0v-5m2 0h-4"></path>
                                                        <path d="M14 8v-2"></path>
                                                        <path d="M19 12h2"></path>
                                                        <path d="M17.5 15.5l1.5 1.5"></path>
                                                        <path d="M17.5 8.5l1.5 -1.5"></path>
                                                    </svg>
                                                    Déclarer un accident
                                                </a>
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#modal-cancel-{{ borrow_history.id }}">
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                         class="icon icon-tabler icon-tabler-circle-minus text-danger"
                                                         width="24"
                                                         height="24"
                                                         viewBox="0 0 24 24"
                                                         stroke-width="2"
                                                         stroke="currentColor"
                                                         fill="none"
                                                         stroke-linecap="round"
                                                         stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                                                        <path d="M9 12l6 0"></path>
                                                    </svg>
                                                    Annuler
                                                </a>
                                            {% endif %}

                                            <div class="modal modal-blur fade" id="modal-cancel-{{ borrow_history.id }}" tabindex="-1">
                                                <div class="modal-dialog modal-sm" role="document">
                                                    <div class="modal-content">
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        <div class="modal-status bg-danger"></div>
                                                        <div class="modal-body text-center py-4">
                                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg"
                                                                 width="24" height="24" viewBox="0 0 24 24"
                                                                 stroke-width="2"
                                                                 stroke="currentColor"
                                                                 fill="none"
                                                                 stroke-linecap="round"
                                                                 stroke-linejoin="round">
                                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                                <path d="M12 9v2m0 4v.01"></path>
                                                                <path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75"></path>
                                                            </svg>
                                                            <h3>Êtes vous sur ?</h3>
                                                            <div class="text-secondary">Vous êtes sur le point d'annuler votre emprunt</div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <div class="w-100">
                                                                <div class="row">
                                                                    <div class="col">
                                                                        <a href="#" class="btn w-100" data-bs-dismiss="modal">
                                                                            Fermer
                                                                        </a>
                                                                    </div>
                                                                    <div class="col">
                                                                        <a href="{{ path('app_borrow_cancel', {'id': borrow_history.id}) }}" class="btn btn-danger w-100">
                                                                           Annuler l'emprunt
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="6" class="text-center fs-3">Aucun historique</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}