{% extends 'base_app.html.twig' %}

{% block title %}CarsFleet - Participer a un trajer{% endblock %}

{% block body %}
<div class="container mx-auto p-4 shadow rounded-xl">
    <h1 class="text-display-xs font-semibold mb-5">
        <span class="text-light badge badge-pill bg-azure mx-2">{{ cars | length }}</span>Trajet(s) disponible(s)
    </h1>
    <div class="md:flex">
        <div class="flex-1 p-6 text-medium text-gray-500 dark:text-gray-400 dark:bg-gray-800 rounded-xl w-full">
            <div class="sm:mx-auto sm:w-full sm:max-w-5xl">
                <div class="mt-5 grid grid-cols-1 gap-x-6 gap-y-6 sm:grid-cols-3">
                    {% for car in cars %}
                        <div>
                            <div class= "w-full max-w-sm bg-white border border-gray-200 rounded-xl shadow-2xl dark:bg-gray-800 dark:border-gray-700">
                                <div class="flex flex-col items-center pb-5 mt-5">
                                    <span class="bg-secondary-100 text-green-800 text-xs font-medium md:mx-3 px-2.5 py-0.5 rounded-xl mb-3 text-wrap">
                                         {{ car.borrowMeet.site.name }} - {{ car.borrowMeet.tripDestination.name }}
                                    </span>
                                    <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">{{ car.car.brand }} - {{ car.car.model }}</h5>
                                    <span class="text-sm text-gray-500 dark:text-gray-400">Nombre de passager: {{ car.car.passengerQuantity }}</span>
                                    <span class="w-10 h-10 rounded-xl my-5 border-2 border-neutral-200" style="background-color: {{ car.car.color }}"></span>
                                    <span class="bg-neutral-200 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-xl">
                                        {{ car.borrowMeet.date | date('d/m/Y') }}
                                    </span>
                                    <div class="flex flex-row mt-4 md:mt-6">
                                        <a href="{{ path('app_borrow_detail', {'id': car.car.id }) }}"
                                           class="transform hover:scale-110 transition-transform duration-200 text-body-sm font-semibold text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 hover:underline pl-5 pr-4  px-4 py-3 rounded-xl flex flex-row gap-2 items-center justify-center">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 class="size-5"
                                                 width="24"
                                                 height="24"
                                                 viewBox="0 0 24 24"
                                                 stroke-width="2"
                                                 stroke="currentColor"
                                                 fill="none"
                                                 stroke-linecap="round"
                                                 stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M7 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                                                <path d="M17 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                                                <path d="M5 17h-2v-6l2 -5h9l4 5h1a2 2 0 0 1 2 2v4h-2m-4 0h-6m-6 -6h15m-6 0v-5"></path>
                                            </svg>
                                            Participer a ce trajet
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
