<header class="fixed top-0 left-0 right-0 z-50 overflow-hidden bg-white/80 backdrop-blur-lg dark:bg-gray-950/75">
    <div class="container mx-auto">
        <div class="flex  justify-between items-center">
            <div class="flex flex-row gap-8 items-center">
                <a href="{{ path('app_home') }}">
                    <img src="{{ asset('build/images/carsfleet-code-vanguard.png') }}" alt="" title="Carsfleet identité numérique" height="75" width="75">
                </a>
            </div>
            <div class="flex flex-row gap-6">
                <div class="md:flex hidden flex-row gap-6 items-center">
                    <a href="{{ path('app_about') }}" class="text-body-sm font-medium text-neutral-700 hover:text-neutral-900 px-4 hover:underline">
                        A propos
                    </a>
                    <a href="{{ path('app_pricing') }}" class="text-body-sm font-medium text-neutral-700 hover:text-neutral-900 px-4 hover:underline">
                        Tarification
                    </a>
                    <a href="#" class="text-body-sm font-medium text-neutral-700 hover:text-neutral-900 px-4 hover:underline">
                        Fonctionnalités
                    </a>
                    <a href="{{ path('app_faq') }}" class="text-body-sm font-medium text-neutral-700 hover:text-neutral-900 px-4 hover:underline">
                        FAQ
                    </a>
                </div>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% if is_granted('ROLE_EMPLOYED') %}
                        <a href="{{ path('app_profile_index') }}"
                           class="transform hover:scale-110 transition-transform duration-200 hover:bg-neutral-800 text-body-sm font-semibold text-white bg-neutral-900 pl-5 pr-4  px-4 py-3 rounded-xl flex flex-row gap-2 items-center justify-center">
                           Mon compte
                        </a>
                    {% else %}
                        <a href="{{ path('admin') }}" class="btn btn-outline-primary me-2">
                            Panneau d'administration
                        </a>
                    {% endif %}
                {% else %}
                    <a href="{{ path('app_login') }}"
                       class="transform hover:scale-110 transition-transform duration-200 hover:bg-neutral-800 text-body-sm font-semibold text-white bg-neutral-900 pl-5 pr-4  px-4 py-3 rounded-xl flex flex-row gap-2 items-center justify-center">
                        Se connecter
                    </a>
                    <a href="{{ path('app_register_index') }}"
                       class="transform hover:scale-110 transition-transform duration-200 hover:bg-neutral-800 text-body-sm font-semibold text-white bg-neutral-700 pl-5 pr-4  px-4 py-3 rounded-xl flex flex-row gap-2 items-center justify-center">
                        S'inscrire
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</header>